<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title></title>
  </head>
  <body>
    <h1>Job Postings:</h1>
    <ul>
      @foreach(var Job in Model)
      {
        <li><strong>@Job.GetTitle()</strong></li>
        <br>
        <li><strong>Description:</strong> @Job.GetDescription()</li>
        <li><strong>Contact Name:</strong> @Job.GetContact().GetContactName()</li>
        <li><strong>Contact Phone Number:</strong> @Job.GetContact().GetContactNumber()</li>
      }
    </ul>
    <a href="/jobs/new">Add a new Job:</a>
  </body>
</html>
